@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&display=swap');


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    overflow-y: auto; 
    scroll-behavior: smooth;
}

/* Navbar */

nav {
    background-color: #0a0a0a;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;    
    padding: 10px;
    z-index: 100;
}

nav .logo a {
    position: absolute;
    top: 0;
    left: 20px;
    text-transform: none;
}

nav .logo a:hover {
    background-color: transparent;
}

nav ul {
    display: flex;
}

nav a {
    color: #f1f1f1;
    text-transform: uppercase;
    padding: 10px;
}

nav i {
    margin: 0 10px;
}

nav a:hover {
    background-color: #505050;
    transition: 0.5s;
}

nav a.active {
    background-color: #ffc400;
    color: #0a0a0a;
}

nav .submenu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #0a0a0a;
    margin-top: 10px;
    padding: 0;
}

nav .submenu li{
    position: relative;
    padding: 10px 0;
    width: 100%;
}


nav a:hover i {
    transform: rotate(-90deg);
    transition: 0.3s;
}

nav ul li:hover .submenu {
    display: flex;
    flex-direction: column;
}

nav .icon {
    display: none;
}

nav .icon:hover i {
    transform: rotate(180deg);
}


/* Bas de page */

footer {
    background-color: #0a0a0a;
    font-family: 'Montserrat', cursive;
    color: #f1f1f1;
    padding: 4rem 12rem 0;
}


footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh;
    border-top: 2px solid #dfdfdf;
}

footer a{
    color: #f1f1f1;
    margin-top: 15px;
    transition: 0.3s;
}

footer p {
    color: #f1f1f1;
    margin-top: 15px;
}

footer .col {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
}

footer .divers {
    text-transform: capitalize;
}

footer .liens a:hover {
    transform: translateX(10px);
}

footer h4 {
    border-top: 1px solid #505050;
    padding: 2vh 0;
    font-size: 13px;
}

footer .contact i{
    margin-right: 7px;
}

footer .contact .fa-at {
    color: #BB001B;
}

footer .contact .fa-facebook {
    color: #4267B2;
}

footer .contact .fa-twitter {
    color: #1DA1F2;
}

@media (max-width: 1000px) {
    footer {
        padding: 4rem 4rem;
    }

    footer .container {
        align-items: center;
        padding: 0 5vh 0;
    }

    footer .container .col {
        max-width: 50vw;
        margin: 5vh 1vw;
    }
}

@media screen and (max-width: 800px) {
    
    nav .logo a {
        position: relative;
    }

    nav a.icon {
        display: block;
        color: #f1f1f1;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        height : 8vh;
    }

    .navbar li{
        display: none;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }


    .responsive .navlinks {
        margin-top: 39px;
    }

    .responsive ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #000;
    }

    .responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .responsive a {
        display: block;
        text-align: left;
    }

    .responsive .submenu {
        display: none;
        position: absolute;
        background-color: #ecebeb;
        margin: 0;
        padding: 0;
        z-index: 10;
        width: 100%;
    }

    .responsive .submenu a {
        color: #0a0a0a;
    }

    .responsive .submenu li {
        padding: 0;
    }
    
    .responsive .submenu a:hover {
        background-color: #272727;
        text-decoration: none;
    }
    
    .responsive ul li:hover.submenu {
        display: flex;
        flex-direction: column;
    }

}

